<head>
  <script type="text/javascript" src="http://api.openweathermap.org/data/2.5/weather?q=<%= ENV['WEATHER_MAP_API']%>"></script>
</head>

<div class="container">
<div class="row">
    <div class="col span-12">
      <div class="head">
        <div class="head-left">
         <%= link_to image_tag("maintitle.png" ,width:"400",height:"200"),root_path %>
		</div>
        <div class="head-right">
        <div class="login-box">
        <%if user_signed_in? && current_user.id == 1%>
          <%= link_to '管理' ,horses_path,class:"manage"%>
          <% end %>
          <% if user_signed_in?%>
            <%= link_to "ログアウト",destroy_user_session_path,method: :delete ,class:"logout" %>
          <% else %>
            <%= link_to "新規登録",new_user_registration_path,class:"login"%>
            <%= link_to "ログイン",user_session_path,class:"sign-up"%>
          <% end %>
        </div>
        <div class="snsbox">
			<%= link_to image_tag("in-icon.png"),"https://www.instagram.com/jra.official/" ,class:"instagram"%>
		    <%= link_to image_tag("fb-icon.png"),"https://www.facebook.com/jra",class:"facebook" %>
        </div>
        </div>
    </div>
    </div>
</div>
<div class="row">
    <div class="col span-12">
        <nav>
        <div id="open"><img src="img/button.png"></div>
        <div id="close"><img src="img/button2.png"></div>    
            <div id="navi">
        <ul>
        <% if user_signed_in?%>
            <li><%= link_to "マイページ",user_path(current_user) %></li>
         <% end %>
            <li><%= link_to "Umastagram",posts_path %></li>
            <li><%= link_to "ラップ分析",plans_path %></li>
            <li><%= link_to "アンケート",surveys_path %></li>
            </ul>
                </div>
        </nav>
    </div>
        </div>
    </div>


    <div class="mainimg">
              <%= image_tag "deepimpact.jpg",class:"main_img" %>
        </div>


<div class="weather-main">


	<h2 class="catch">競馬場の天気予報</h2>

<div class="weather-box">

<div class="col-md-3" id="fuchu-weather">
    <div class="card shadow text-center">
        <h5><div class="card-header">東京競馬場</div><h5>
        <div id="weather1"></div>
    </div>
</div>



<div class="col-md-3" id="oarai-weather">
    <div class="card shadow text-center">
        <h5><div class="card-header">京都競馬場</div><h5>
        <div id="weather2"></div>
    </div>
</div>


<div class="col-md-3" id="oarai-weather">
    <div class="card shadow text-center">
        <h5><div class="card-header">阪神競馬場</div><h5>
        <div id="weather3"></div>
    </div>
</div>


<div class="col-md-3" id="oarai-weather">
    <div class="card shadow text-center">
        <h5><div class="card-header">中山競馬場</div><h5>
        <div id="weather4"></div>
    </div>
</div>


</div>

</div>

</div>    

<%= render 'shared/footer'%>