<%= render "shared/header" %>

<div class="survey-btn-box">
<%= link_to '戻る',surveys_path,class:'survey-return-btn'%>
<% if user_signed_in? && current_user.id == @survey.user_id %>
<%= link_to 'アンケートを削除', survey_path(@survey), method: :delete,data: { confirm: '削除しますか？' }, class:'survey-destroy-btn' %>
<% end %>
</div>
<% unless  Vote.exists?(user_id:current_user.id,survey_id:params[:id])%>
<div class="survey--select-main">

  <div class="survey-select">

    <div class="survey-show-title">
      <%= @survey.title %>
    </div>


   <% @number.times do |n|%><% n += 1%>
      <%= form_with model:[@survey,@vote],local: true do |f| %>
          <div class="survey-form">

      <div class = "show-survey-title">
      <%= @survey.send("item#{n}") %>
      </div>

        <div class="show-survey-btn">
          <%= f.hidden_field :select,:value => n %>
          <%= f.submit "投票する" ,class:"select-btn" %>
        </div>
      </div>
        <% end %>
      <% end %>

    </div>
  </div>

  <% else %>
<div class="vote-content">
  <div class="chart">
<%= pie_chart @total_vote %>
</div>
<div class="vote-table">

<table border="1" width="500">
  <tr>
 <% @number.times do |n| %><% n += 1 %>
    <th><%= @survey.send("item#{n}") %></th>
   <%end%>
  </tr>
    <tr>
<% @number.times do |n| %><% n += 1 %>
    <th><%= Vote.where(survey_id:@survey.id,select:n).count%>票</th>
    <% end %>

  </tr>
</table> 
</div>
</div>
<% end %>
