<%= render "shared/header" %>

<%= link_to '戻る',surveys_path,class:'return-btn'%>

<div class="survey--select-main">

  <div class="survey-select">

    <div class="survey-show-title">
      菊花賞勝つのは？
    </div>


   <% n = 0 %><% 4.times do%><% n += 1%>
  <% unless @survey.send("item#{n}") == "" %>
      <%= form_with model:[@survey,@vote],local: true do |f| %>
          <div class="survey-form">

      <div class = "show-survey-title">
      <%= @survey.send("item#{n}") %>
      </div>

        <div class="show-survey-btn">
          <%= f.hidden_field :select,:value => n %>
          <%= f.submit "投票する" ,class:"select-btn" %>
        </div>
 　　　　　</div>
        <% end %>
  

        

<% else %>
        <% break%>
        <% end %>
    <% end %>

    </div>
  </div>
